{% extends 'cavovich/baseIndex.html' %} 
{% load static %}
 
 
{% block content %}
<main role="main ">   
    <div class="bg-light">
        <br>        
        <div class="container card bg-white">   
            <div class="col-12">
                <br>
                <h1>Tu carrito</h1>     
                <br>           
                <div class="table-responsive">            
                    <table class="table table-hover" style="width: 100%">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Imagen</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Eliminar</th>
                            <th scope="col">P. unitario</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <tr>
                                    <td>
                                        <a href="/vino/{{product.id}}">
                                            <img src="{{ product.imagen.url }}" width="50px">
                                        </a>
                                    </td>
                                    <td>{{ product.nombre }}</td>
                                    <td>{{ item.quantity }}</td>
                                    <td>
                                        <a href="{% url "cart:cart_remove" product.id %}"><p class="text-muted"><i class="fas fa-pen"></i> Eliminar</p></a>
                                    </td>
                                    <td class="num">${{ item.price }}</td>
                                    <td class="num">${{ item.total_price }}</td>
                                </tr>
                            {% endwith %}
                        {% endfor %}
                        <tr class="total">
                            <td>Total</td>
                            <td colspan="4"></td>
                            <td class="num">${{ cart.get_total_price }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            
            <p class="text-right">
                <a href="{% url "inicio" %}" class="btn btn-secondary"><i class="fas fa-shopping-cart"></i> Seguir comprando</a>
                <form action="{% url 'cart:decrementarStock' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Finalizar</button>
                </form>
            </p>

            <br>
            </div>
        </div>
        <br>
    </div>
</div>    
{% endblock %}