{% extends 'cavovich/baseIndex.html' %} 
{% load static %}
 
 
{% block content %}
    <h1>Tu carrito</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
            <th>P. unitario</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="/vino/{{product.id}}">
                            <img src="{{ product.imagen.url }}" width="50px">
                        </a>
                    </td>
                    <td>{{ product.nombre }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{% url "cart:cart_remove" product.id %}">Remove</a>
                    </td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "inicio" %}" class="button light">Seguir comprando</a>
        <form action="{% url 'cart:decrementarStock' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="button">Ir a pagar</button>
        </form>
    </p>

{% endblock %}