<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogo Vinos</title>
</head>
<body>
    <h1>Todos los vinos</h1>
    {% for vino in vinos_list %}
        <h2>ID: {{vino.pk}}</h2>
        <h2>Nombre: {{vino.nombre}}</h2>
        <h2>Bodega: {{vino.bodega}}</h2>
        <h2>Variedad: {{vino.variedad}}</h2>
        <h2>Cosecha: {{vino.cosecha}}</h2>
        <h2>Origen: {{vino.origen}}</h2>
        <h2>Cantidad: {{vino.cantidad}}</h2>
        <h2>Codigo: {{vino.codigo}}</h2>
        <h2>Precio: {{vino.precio}}</h2>
        <h2>Estante: {{vino.estante}}</h2>
        <h2>Imagen:</h2>
        <img src="/media/{{vino.imagen}}" width="300px">
    {% endfor %}
</body>
</html>