{% extends 'cavovich/baseIndex.html' %} 
{% load static %}
 
 
{% block content %}
    <h1>Tu carrito</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Imagen</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Eliminar</th>
            <th>P. unitario</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with vino=item.product %}
                <tr>
                    <td>
                        <a href="{{ vino.imagen }}">
                            <img src="/media/{{ vino.imagen }}">
                        </a>
                    </td>
                    <td>{{ vino.nombre }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                        <a href="{% url "cart:cart_remove" vino.pk %}">Remove</a>
                    </td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Total</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "inicio" %}" class="button light">Seguir comprando</a>
        <a href="#" class="button">Ir a pagar</a>
    </p>
{% endblock %}  
