{% extends 'cavovich/baseIndex.html' %} 

{% block content %} 
{% load static %}
<main role="main ">   
    <div class="bg-light">
        <br>
        <div class="container card bg-white">   
            <div  class="text-right">
                <br>
                <a style="cursor: pointer;" onclick="window.location='/vino/update/{{vino.pk}}';"> 
                    <div class="text-muted">
                        <i class="fas fa-edit"></i> Modificar
                    </div>
                </a>
                <a style="cursor: pointer;" onclick="window.location='/vino/delete/{{vino.pk}}';"> 
                    <div class="text-muted">
                        <i class="fas fa-trash"></i> Eliminar
                    </div>
                </a>           
            </div>
            <div class="row">
                <div class="col-sm-6">                    
                    <!-- Imagen del producto -->
                    <div class="">
                        <div class="card-body">
                            <img src="/media/{{vino.imagen}}" width="300px" class="card-img">
                        </div>
                    </div>                    
                </div>        
                <div class="col-sm-6 card-body"> 
                                           
                        <br>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="card-title">
                                    {{vino.nombre}}                                    
                                </h1>           
                                <h6 class="card-subtitle mb-2 text-muted">
                                    {% if vino.cantidad > 0 %}
                                        <span class="badge badge-success">Stock</span>
                                    {% else %}
                                        <span class="badge badge-danger">Sin Stock</span>
                                    {% endif %}
                                </h6>                     
                            </div>
                            {% comment %} <div class="col-3">
                                
                            </div>                             {% endcomment %}
                        </div>                            
                        <div class="form-group row">
                            <div class="col-sm-8 col-md-9">
                                <h1 class="card-title">$ {{vino.precio}}</span>
                            </div>
                        </div>                  
                        <!-- Detalle del producto  -->             
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label text-muted"><b>Bodega:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.bodega}}</p>
                            </div>
                        </div>                         
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 text-muted"><b>Variedad:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.variedad}}</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label text-muted"><b>Cosecha:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.cosecha}}</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label text-muted"><b>Origen:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.origen}}</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label text-muted"><b>Codigo:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.codigo}}</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-md-3 form-control-label text-muted"><b>Estante:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.estante}}</p>
                            </div>
                        </div>                     
                        <div class="form-group row">
                            <label for="Quantity" class="col-sm-3 col-md-3 form-control-label text-muted"><b>Cantidad:</b></label>
                            <div class="col-sm-9 col-md-9">
                                <p class="card-text">{{vino.cantidad}}</p>                            
                            </div>
                        </div>
                        <form class="form-horizontal" action="{% url "cart:cart_add" vino.id %}" method="post">
                            {{ cart_product_form }}
                            {% csrf_token %}
                            <div class="form-group product-stock product-available row visible">
                                <label class="col-sm-3 col-md-3 form-control-label"></label>
                                <div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-3">
                                    {% if vino.cantidad > 0 %}
                                        <button type="submit" class="btn btn-primary my-2" >
                                            <i class="fas fa-shopping-cart"></i> Añadir al carrito
                                        </button>                                        
                                    {% else %}
                                        <button type="submit" class="btn btn-primary my-2" disabled>
                                            <i class="fas fa-shopping-cart"></i> Añadir al carrito
                                        </button>
                                    {% endif %}
                                    
                                    
                                    
                                    <a href="javascript:history.back()" class="btn btn-link btn-sm" title="Continue Shopping">← Regresar</a>
                                </div>
                            </div>
                        </form>
                    <script>
                        $('#product-sharing a').click(function(){
                            return !window.open(this.href, 'Share', 'width=640,height=300');
                        });
                    </script> 
                </div>
            </div>  
        </div>
        <br>
    </div>    
</main>
{% endblock %}